<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true">
    <contextName>SimpleOCR</contextName>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{100} [%file:%line] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="SimpleOCRFileLog"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>SimpleOCR.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>SimpleOCR.log.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{100} [%file:%line] %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="SimpleOCRFileLog"/>
    </root>

    <logger name="alex.beta.simpleocr" level="DEBUG"/>

</configuration>